<div>
  {{#if this.undefinedAction}}
    this.undefinedAction => true
  {{else}}
    this.undefinedAction => false
  {{/if}}
</div>
<button type="button" {{on "click" (if this.undefinedAction (fn this.undefinedAction "Hello") this.existingAction)}}>
  Click me
</button>
